:root
{
    --primary-red: #FF3A3A;
    --light-red: #FFA5A5;
    --dark-red: #B22222;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-radius: 5px;
    width: 75%;
    align-content: center;
}

table td, table th
{
    border: 1px solid #dddddd;
    padding: 8px;
}

table tr:nth-child(even)
{
    background-color: #e4e4e4;
}

table tr:hover {
    background-color: rgba(0, 105, 217 ,0.5);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007BFF;
    color: white;
}

/* Hide the action buttons by default */
.product-row .actions {
    visibility: hidden;
}

/* Show action buttons when hovering over the row */
.product-row:hover .actions {
    visibility: visible;
}

/* Additional styling for buttons if needed */
.actions button {
    margin-left: 5px;
}
.nav {
    height: 50px;
    width: 100%;
    background: linear-gradient(45deg,var(--primary-red),black);
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}
.nav-btn
{
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #efefef;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}
.nav-btn:hover
{
    cursor: pointer;
    border-radius: 5px;
    background-color: #646a6c;

}
.nav > .nav-links > a
{
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #efefef;
    transition: background-color 0.3s ease-in-out;
}

.nav > .nav-links > a:hover
{
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--primary-red);

}

.nav > #nav-check {
    display: none;
}
